body{
    background-color: chocolate;
}
.background{
    background-color: rgb(43, 132, 25);
    position: absolute;
    width: 80%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.my_name{
    color: aqua;
    font-size: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%); 
}
.age{
    color: salmon;
    font-size: 35px;
    position: absolute;
    top: 25%;
    left: 10%;
}
.my_age{
    color: chartreuse;
    font-size: 35px;
    position: absolute;
    top: 25%;
    left: 17%;
}
.school{
    color: salmon;
    font-size: 35px;
    position: absolute;
    top: 25%;
    left: 30%;
}
.my_school{
    color: mediumseagreen;
    font-size: 35px;
    position: absolute;
    top: 25%;
    left: 40%;
}
.birth-d{
    color: salmon;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 10%;
}
.my_birth-d{
    color: lightgoldenrodyellow;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 17%;
}
.halsuitnungu{
    color: salmon;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 30%;
}
img{
    width: 300px;
    height: 350px;
    position: absolute;
    top: 25%;
    left: 65%;
}

.todolist{
    background-color: aqua;
    border-radius: 20px;
    width: 200px;
    height: 140px;
    color: darkblue;
    font-size: 18px;
    position: absolute;
    }
.weather{
    background-color: darkblue;
    border-radius: 18px;
    width: 200px;
    height: 140px;
    color: aqua;
    font-size: 20px;
    position: absolute;
    left: 55%;
}
.my_projecDDo{
    background-color: rgba(127, 255, 212, 0.897);
    color: blue;
    border-radius: 20px;
    border: 2px solid blue;
    position: absolute;
    width: 500px;
    height: 170px;
    top: 70%;
    left: 10%;
    transform: translate();
}
.project{
    color: yellowgreen;
    font-size: 35px;
    position: absolute;
    top: 62%;
    left: 15%;

}